$break-small: 480px;
$break-medium: 767px;

h1,h2,h3,h4 {
    color: white;
    text-align: center;
    line-height: 1.25em;
    a {
        color: #2196F3;
        text-decoration: underline;
    }
}

.fullPage {
    background-color: #5B3256;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    position: absolute;
}

.button {
    margin-left: 5px;
}

%container {
    margin: auto;
    position: relative;
    text-align: center;
    width: 50%;
    @media screen and (max-width: $break-medium) {
        width: 80%;
    }
    @media screen and (max-width: $break-small) {
        width: 90%;
    }
}

.linkContainer {
    @extend %container;
    padding-top: 1%;
}

.buttonContainer {
    @extend %container;
    padding-top: 2%;
    margin-bottom: 4%;
}
